@font-face{
	font-family: "OpenSans";
	font-weight: bold;
	src:url("OpenSans-Bold.ttf");
}
	@font-face{
	font-family: "OpenSans";
	font-weight: bolder;
	src:url("OpenSans-ExtraBold.ttf");
}
@font-face{
	font-family: "OpenSans";
	font-weight: normal;
	src:url("OpenSans-Regular.ttf");
}
@font-face{
	font-family: "OpenSans";
	font-style: italic;
	src:url("OpenSans-italic.ttf");
}
 @font-face{
	font-family: "OpenSans";
	font-style: lighter;
	src:url("OpenSans-Light.ttf");
}
 
 